[Unit]
Description=lcd1602_netspeed_py
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/py/LCD1602_IIC
User=pi
Type=idle
ExecStart=/usr/bin/python3 "/home/pi/py/LCD1602_IIC/LCD1602.py"
Restart=on-failure
[Install]
WantedBy=multi-user.target